{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<div class="w-100 pa3 pa4-ns">
  <header>
    <h1 class="f1">
        <a class="link f1 {{ $.Param "highlight_class" }} {{ $.Param "heading_font" }}  db"
        href="{{ .CurrentSection.Permalink }}">
        All {{ humanize .Section | upper }}
      </a>   
    </h1>
  </header>
  {{ with .Content }}
  <article class="cf pa3 pa4-m pa4-l {{ $.Param "content_classes" }}">
    <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links nested-img">                
      {{ . }}
    </div>
  </article>
  {{ end }}
  <div class="mw8 {{ $.Param "content_classes" }}">
    {{ $section := where .Data.Pages "Section" .Section }}
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range  ($section).ByDate.Reverse }}
        <div class="relative w-100 mb4">
            {{ partial "summary-with-image.html" . }}
        </div>
      {{ end }}
    </section>
  {{ template "_internal/pagination.html" . }}
  </div>
</div>
{{ end }}
