{{ $viewBase := ""  }}
{{ $historyBase := ""  }}
{{ $abbreviatedHash := ""  }}
{{ $site := .Site }}
{{ with .GitInfo }}
    {{ $viewBase := print $site.Params.sourceRepo "/blob/" .Hash  }}
    {{ $historyBase := print $site.Params.sourceRepo "/commit/" .Hash  }}
    {{ $abbreviatedHash := .AbbreviatedHash  }}
{{ end }}
{{ $viewUrl := print $viewBase "/content/" (replace .Page.File.Path "\\" "/") }}
{{ $historyUrl := print $historyBase "/content/" (replace .Page.File.Path "\\" "/") }}
{{ $classes := print "link underline gray"}}
<p class="f7 gray code">
    <span class="">
        last modified 
        <a class="{{ $classes }}"
            href="{{ $historyUrl }}">
            <time datetime="{{ .Lastmod }}">{{ .Lastmod -}}</time></a>
    </span>
    <span class="">
        in 
        <a class="{{ $classes }}"
            href="{{ $viewUrl }}">
            {{ $abbreviatedHash }}
        </a>
    </span>
</p>