.atruskie-bg-darker-gray {
    background-color: #1E1E1E;
}

.atruskie-width-05 {
    width: 5%;
}

.atruskie-min-width-50 {
    min-width: 50%;
}

.atruskie-flex-shrink {
    flex-shrink: 1;
}

.atruskie-nested-copy-code pre {
    overflow: auto !important;
}

.atruskie-nested-copy-code p>code {
    background-color: #111;
    padding: 0 0.5em;
}

